.collapse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBlack{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}.txtLogin{
    color: black;
    margin: 3px;
}.navbar{
    background-color: white;
    border-bottom: 2px;
    border-color: black;
}.h1{
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}
.btnBlueWhite{
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}
.btnWhiteBlue{
    background-color: #d5e9ff;
    color: #007bff;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}.imageCol7{
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}.logo{
    height: 30px;
    width: auto;
}.logox2{
        height: 60px;
        width: auto;
}.trustTeamLogo{
    height:20px;
    width: auto;
    margin-right: 10px;
}.redCard{
    background-color: #f649324f;
}.blueCard{
    background-color: #57b0ff6a;
    height: 100%;
}.yellowCard{
    background-color: #f6e6494f;
    margin-top: 20px;
    margin-bottom: 20px;
}.superiorityImage{
    height: auto;
    width: 600px;
    display: block;
    margin: 0 auto;
}.superiorityImage2{
    height: auto;
    width: 800px;

}.forbesLogo{
    height: 20px;
}.p26B{
    font-size: 26px;
    font-weight: bold;
}.p24B{
    font-size: 24px;
    font-weight: bold;
}.p24{
    font-size: 24px;
    margin-top: 20px;
}.p18{
    font-size: 18px;
    margin-top: 20px;
}.p18B{
    font-size: 18px;
    font-weight: bold;
}.p46{
    font-size: 46px;
    margin-top: 20px;
}.p46B{
    font-size: 46px;
    font-weight: bold;

}.p56B{
    font-size: 56px;
    font-weight: bold;

}.p66B{
    font-size: 66px;
    font-weight: bold;
}.p16B{
    font-size: 16px;
    font-weight: bold;
}.grayCard{
    background-color: #f0f0f0;
    margin-top: 20px;
    margin-bottom: 20px
}.toscaCard{
    background-color: #ceffff;
    margin-top: 20px;
    margin-bottom: 20px
}.logo {
    max-height: 24px;
    margin-bottom: 0.5rem;
  }
  .testimonial-box {
    border-top: 1px solid #dee2e6;
    padding-top: 1rem;
    margin-top: 1rem;
  }
  .play-img {
    max-width: 100%;
    border-radius: 10px;
  }.appleLogo{
    width: 1.5em;
    height: 1.5em; 
    display: block; 
    fill: currentcolor; 
    flex-shrink: 0;
     padding: 5px;
      margin-top: -1px
  }.forms{
    width:10%;
    height:10%;
    display:block;
    fill:inherit;
    flex-shrink:0
  }.shareInstagram{
    width:18px;
    height:18px;
    display:block;
    fill:currentColor;
    flex-shrink:0
  }.shareX{
    width:20px;
    height:16px;
    display:block;
    fill:currentColor;
    flex-shrink:0
  }.shareLinkedin{
    width:20px;
    height:18px;
    display:block;
    fill:currentColor;
    flex-shrink:0
  }.shareFacebook{
    width:20px;
    height:18px;
    display:block;
    fill:currentColor;
    flex-shrink:0
  }.shareYouTube{
    width:18px;
    height:18px;
    display:block;
    fill:currentColor;
    flex-shrink:0
  }
  a{
    color: black;
    text-decoration: none;
  }