.collapse{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnBlack{
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}.txtLogin{
    color: black;
    margin: 3px;
}.navbar{
    background-color: white;
    border-bottom: 2px;
    border-color: black;
}.h1{
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}
.btnBlueWhite{
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}
.btnWhiteBlue{
    background-color: #d5e9ff;
    color: #007bff;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px;
}.imageCol7{
    height: 400px;
    width: auto;
    display: block;
    margin: 0 auto;
}.logo{
    height: 30px;
    width: auto;
}.trustTeamLogo{
    height:20px;
    width: auto;
    margin-right: 10px;
}.redCard{
    background-color: #f649324f;
}.blueCard{
    background-color: #57b0ff6a;
}.yellowCard{
    background-color: #f6e6494f;
    margin-top: 20px;
    margin-bottom: 20px;
}.superiorityImage{
    height: auto;
    width: 600px;
    display: block;
    margin: 0 auto;
}.superiorityImage2{
    height: auto;
    width: 800px;

}.forbesLogo{
    height: 20px;
}.p46{
    font-size: 46px;
    margin-top: 20px;
}.p66B{
    font-size: 66px;
    font-weight: bold;
}.p16B{
    font-size: 16px;
    font-weight: bold;
}.grayCard{
    background-color: #f0f0f0;
    margin-top: 20px;
    margin-bottom: 20px
}.toscaCard{
    background-color: #ceffff;
    margin-top: 20px;
    margin-bottom: 20px
}